<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stickerz!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="/static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="/admin">Admin</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/h0ng10/stickerz/">Github</a>
                  </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">&copy; Insecure Messaging 2018. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
